<div class="left_side_top_section_container">

    <div class="left_side_top_container_image"></div>
    <div class="navbar_top_left_container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Meats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Fruits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Snacks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vegetables</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dairy and Cheese</a>
              </li>
        </ul>
    </div>
</div>  
<div class="left_side_second_half_container">
    {%include "leftSide/shoppingItems.html"%}
</div>
