/*MAIN CONTAINER THAT HOLDS THE APPS*/
.grocery_main_container {
    border:solid blue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.left_side_main_container {
    width: 60%;
    height: 100vh;
    border: solid red;
   
}
.cart_main_container {
    width:40%;
    height: 100vh;
    border: solid green;
}